module-06/assignments/json.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"

    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="books">
       <xs:complexType>
         <xs:sequence>
           <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
               <xs:sequence>
                   <xs:element type="xs:string" name="title"/>
                     <xs:element type="xs:string" name="author" maxOccurs="unbounded" minOccurs="0"/>
                         <xs:element type="xs:short" name="year"/>
                            <xs:element type="xs:float" name="price"/>

                            <xs:element type="xs:string" name="category"/>
                             </xs:sequence>
                             </xs:complexType>
                              </xs:element>
                              </xs:sequence>
                             </xs:complexType>
                              </xs:element>

                             </xs:schema>