university/university.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element type="xs:string" name="street"/>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="region"/>
      <xs:element name="country">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Canada"/>
            <xs:enumeration value="United States"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="zipCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coursesType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="studentsType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="dob"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facultyType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="email"/>
      <xs:element type="xs:string" name="phoneNumber"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="addressType" name="address"/>
      <xs:element type="coursesType" name="courses" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="studentsType" name="students" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="facultyType" name="faculty" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>